.fullpage {
    padding-bottom: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 767px), (max-height: 440px)
body {
    min-width: 320px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 30px;
}
html, body {
    overflow: hidden;
}
body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background: #131417;
}
body {
    background: #131417;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    display: block;
    margin: 8px;
}
html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
html, body {
    overflow: hidden;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --sidebar-width: 188px;
    --sidebar-fixed-height: 700px;
    --control-bar-height: 29px;
    --control-space-between: 1.5rem;
    --font-family-normal: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    --font-family-header: Telefon Black, Sans-Serif;
    --font-family-header-alt: Telefon, Sans-Serif;
    --font-family-monospace: Source Code Pro, Menlo, Consolas, Monaco, monospace;
    --green: #47cf73;
    --green-light: #d3ffe1;
    --green-dark: #248c46;
    --yellow: #ffdd40;
    --yellow-light: #f9e9a2;
    --yellow-dark: #d9b200;
    --purple: #ae63e4;
    --purple-light: #be9fe4;
    --purple-dark: #754cac;
    --red: #ff3c41;
    --red-very-light: #ffcfcb;
    --red-light: #f19994;
    --red-dark: #a00808;
    --blue: #0ebeff;
    --blue-light: #76daff;
    --blue-dark: #3d88c3;
    --gray: #9b9dad;
    --gray-light-6: #f1f1f3;
    --gray-light-5: #e3e4e8;
    --gray-light-4: #d5d7de;
    --gray-light-3: #c7c9d3;
    --gray-light-2: #b7bbc8;
    --gray-light-1: #aaaebc;
    --gray-dark-1: #868ca0;
    --gray-dark-2: #717790;
    --gray-dark-3: #5a5f73;
    --gray-dark-4: #444857;
    --gray-dark-5: #2c303a;
    --gray-dark-6: #1e1f26;
    --gray-dark-7: #131417;
    --gray-dark-8: #0a0a0c;
    --gray-dark-9: #010101;
}
@media (max-width: 550px)
html {
    font-size: 13px;
}
@media (max-width: 830px)
html {
    font-size: 14px;
}
html {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;


    html {
        font-size: 10px;
    }


@media (max-width: 460px)
#main {
    margin: 0;
}
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}


main {
    display: block;
}
@media (max-width: 460px)

h1 {
    font-size: 4rem;
    margin-bottom: 0;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.2;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}
user agent stylesheet
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
section {
    display: block;
}